.registration
    display: flex

.reg
    &__form
        max-width: 360px
        display: flex
        flex-direction: column
        &_input
            height: 45px
            padding-left: 17px
            border: 1px solid #A4A4A4
            &::-webkit-input-placeholder
                color:#B1B1B1
                font-size: 13px
                font-weight: 400
                line-height: 15px
